* {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
}

nav {
  background: linear-gradient(
    -225deg,
    rgb(82, 113, 196) 0%,
    rgb(177, 159, 255) 48%,
    rgb(236, 161, 254) 100%
  );
  display: flex;
  flex-wrap: wrap;
  padding: 1% 5%;
  height: auto;
  gap: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav .header_left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

nav .header_left .nav-heading {
  font-weight: bolder;
  font-size: 3rem;
  margin: 1% auto 0%;
  text-align: center;
}

nav .header_left .algos {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1% auto 2%;
  flex-wrap: nowrap;
}

nav .header_left .algos button {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
  align-items: center;
  cursor: pointer;
}

nav .array-inputs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

nav .array-inputs p {
  font-size: 1.5rem;
  color: whitesmoke;
}

nav .array-inputs #size,
nav .array-inputs #speed {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1% 0%;
  margin: auto;
  width: 100%;
  justify-content: center;
}

nav .array-inputs #size #a_size,
nav .array-inputs #speed #a_speed {
  width: 20rem;
  max-width: 20rem;
  cursor: grab;
}

nav #a_generate {
  border-radius: 5%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: rgb(38, 43, 46);
  transition: color 0.3s ease, transform 0.3s ease;
  align-self: center;
  cursor: pointer;
}

nav #a_generate:hover,
nav .header_left .algos button:hover {
  color: greenyellow;
  transform: scale(1.1);
}

@media (max-width: 1730px) and (min-width: 1652px) {
  nav {
    gap: 1%;
    padding: 1% 5%;
    justify-content: center;
  }
  nav .header_left .nav-heading {
    font-size: 2.5rem;
  }

  nav .header_left .algos button {
    font-size: 1.5rem;
  }
  nav .array-inputs {
    height: auto;
    flex: 1;
  }
  nav #a_generate {
    font-size: 1.8rem;
    flex: 1;
  }
}

@media (min-width: 1521px) and (max-width: 1651px) {
  nav {
    gap: auto;
    padding: 1% 5%;
    justify-content: center;
  }
  nav .header_left .nav-heading {
    font-size: 2.4rem;
  }

  nav .header_left .algos button {
    font-size: 1.3rem;
  }
  nav .array-inputs {
    height: auto;
    flex: 1;
  }
  nav .array-inputs p {
    font-size: 1.3rem;
  }
  nav #a_generate {
    font-size: 1.5rem;
  }
}
@media (max-width: 1520px) and (min-width: 1200px) {
  nav {
    gap: 1%;
    padding: 1% 5%;
    justify-content: center;
  }
  nav .header_left .nav-heading {
    font-size: 2vw;
  }

  nav .header_left .algos button {
    font-size: 1.2vw;
  }
  nav .array-inputs {
    height: auto;
    flex: 1;
  }
  nav .array-inputs p {
    font-size: 1.3vw;
  }
  nav #a_generate {
    font-size: 1.4vw;
  }
}

@media (min-width: 854px) and (max-width: 1199px) {
  nav {
    gap: 1%;
    row-gap: 1%;
    padding: 1% 4%;
    justify-content: center;
    align-items: center;
  }

  nav .header_left .nav-heading {
    font-size: 2.2vw;
  }
  nav .array-inputs p {
    font-size: 1.3vw;
  }
  nav .array-inputs {
    row-gap: 1vw;
  }

  nav .header_left .algos button {
    font-size: 1.5vw;
  }

  nav #a_generate {
    font-size: 1.5vw;
  }
}

@media (max-width: 854px) {
  nav {
    gap: 1%;
    row-gap: 1%;
    padding: 1% 4%;
    justify-content: center;
    align-items: center;
  }

  nav .header_left .nav-heading {
    font-size: 4vw;
  }
  nav .array-inputs p {
    font-size: 1.7vw;
  }
  nav .array-inputs {
    row-gap: 1vw;
  }

  nav .header_left .algos button {
    font-size: 1.7vw;
  }

  nav #a_generate {
    font-size: 2vw;
    flex: 1;
  }
}
